@page "/"
@using System.Text.RegularExpressions
@inject Services.GPT3Service GPT3Service
@inject IJSRuntime JSRuntime

<h3>Ask GPT-3.5-turbo</h3>

<div class="chat-container">
    <div class="chat-messages">
        @foreach (var dialog in dialogs)
        {
            <div class="chat-message @(dialog.IsPrompt ? "user-message" : "bot-message")">
                @if (dialog.IsPrompt)
                {
                    // The dialog.MessageText is the user input
                    <span class="message-text">@((MarkupString)dialog.MessageText)</span>
                    <img src="images/User.webp" class="message-icon" alt="User icon" />
                }
                else
                {
                    // The dialog.MessageText is the bot response
                    <img src="images/Robot.webp" class="message-icon" alt="Bot icon" />
                    <span class="message-text" style="width: 360px; display: block;">@((MarkupString)dialog.MessageText)</span>
                }
    )
            </div>
        }
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="chat-input">
        <textarea rows="1" cols="5" type="text" @bind="userInput" placeholder="Type your question..." />
        <button @onclick="GetResponseStream">Ask</button>
    </div>
</div>

@* <br />
============================================
<p>Create Time: @create_time</p>
<p>Finish Reason: @finish_reason</p>
<p>Prompt Tokens: @prompt_tokens</p>
<p>Completion Tokens: @completion_tokens</p>
<p>Total Tokens: @total_tokens</p>
============================================ *@

@code {
    private string userInput = "";
    private string responseFromGPT = "";
    // private string create_time = "";
    // private string finish_reason = "";
    // private string prompt_tokens = "";
    // private string completion_tokens = "";
    // private string total_tokens = "";
    private string myPrompt = "";

    List<Dialog> dialogs = new List<Dialog>();

    private async Task GetResponse()
    {
        myPrompt = userInput;
        dialogs.Add(new Dialog { MessageText = myPrompt, IsPrompt = true });
        userInput = ""; // clear the input field
        var response = await GPT3Service.GetCompletionAsync(myPrompt);
        // responseFromGPT = response.Choices[0].Message.Content;
        dialogs.Add(new Dialog
        {
            MessageText = response.Choices[0].Message.Content,
            IsPrompt = false
        });
        // create_time = DateTimeOffset.FromUnixTimeSeconds(response.Created).ToString();
        // finish_reason = response.Choices[0].Finish_Reason;
        // prompt_tokens = response.Usage.Prompt_Tokens.ToString();
        // completion_tokens = response.Usage.Completion_Tokens.ToString();
        // total_tokens = response.Usage.Total_Tokens.ToString();
    }

    private async Task GetResponseStream()
    {
        myPrompt = userInput;
        dialogs.Add(new Dialog { MessageText = myPrompt, IsPrompt = true });
        userInput = "";

        // Create a temporary Dialog object to receive returning chunks
        Dialog? lastDialog = null;

        // To create a new dialogs record to contain the incoming chunk messages
        dialogs.Add(new Dialog { MessageText = "", IsPrompt = false });

        try
        {
            // Start to receive chunks from the backend
            await foreach (var item in GPT3Service.GetCompletionStreamAsync(myPrompt))
            {
                // Make sure the returned chunk has data
                // and the content field of the Delta object is not null.
                if (item.Choices.Count > 0 && item.Choices[0].Delta.Content != null)
                {
                    if (lastDialog == null)
                    {
                        // Point the temporary dialogs record to the last dialogs object.
                        lastDialog = dialogs.LastOrDefault();
                    }
                    else if (lastDialog != null)
                    {
                        // Combining the returning chunks together
                        lastDialog.MessageText += item.Choices[0].Delta.Content;
                    }
                }
                else if (item.Choices.Count > 0 && item.Choices[0].Delta.Content == null)
                {
                    // If the finish_reason is not null
                    if (item.Choices[0].Finish_Reason != null)
                    {
                        // Write the finish_reason on the page
                        lastDialog.MessageText += $"<p><b><i>Finish_Reason = {item.Choices[0].Finish_Reason}</i></b></p>";
                    }
                    // else if (item.Choices[0].Finish_Reason == "stop")
                    // {
                    //     // If the finish_reason is "stop", then simply break the foreach loop
                    //     break;
                    // }
                }
                else if (item.Usage != null)
                {
                    lastDialog.MessageText += $"<p><b><i>Prompt tokens = {item.Usage.Prompt_tokens}</i></b><br />";
                    lastDialog.MessageText += $"<b><i>Completion tokens = {item.Usage.Completion_tokens}</i></b><br />";
                    lastDialog.MessageText += $"<b><i>Total tokens = {item.Usage.Total_tokens}</i></b></p>";
                }

                StateHasChanged();  // Inform Blazor to refresh the index.razor page to reflect the change
                await JSRuntime.InvokeVoidAsync("scrollToBottom"); // Scroll to the bottom of the page
                lastDialog.MessageText = ConvertMarkdownToHTML(lastDialog.MessageText);  // Convert the markdown to HTML
                Thread.Sleep(150);  // Prevent the chunks from being displayed too fast to the page, put the page to sleep for 150 milliseconds.

            }
        }
        catch (Exception ex)
        {
            lastDialog = dialogs.LastOrDefault();
            lastDialog.MessageText += $"<p style='color:red;'><b><i>{ex.Message}</i></b></p>";
        }
    }
    private string ConvertMarkdownToHTML(string message)
    {
        string text = message;
        // 1. Bold font **text**
        text = Regex.Replace(text, @"\*\*(.+)\*\*", "<b>$1</b>");

        // 2. Italic font *text*
        text = Regex.Replace(text, @"\*(.+)\*", "<i>$1</i>");

        // 3. H1 title # text
        text = Regex.Replace(text, @"(?m)^# (.+)", "<h1>$1</h1>");

        // 4. H2 title ## text
        text = Regex.Replace(text, @"(?m)^## (.+)", "<h2>$1</h2>");

        // 5. H3 title ### text
        text = Regex.Replace(text, @"(?m)^### (.+)", "<h3>$1</h3>");
        text = Regex.Replace(text, @"(?m)^#### (.+)", "<h3>$1</h3>");

        // 6. Seperator ---
        text = Regex.Replace(text, @"(?m)---$", "<hr/>");

        // 7. Email
        //   style 1: <email@example.com>
        text = Regex.Replace(text, @"<([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})>", "<a href='mailto:$1'>$1</a>");
        //   style 2: [Example email](mailto:email@example.com>)
        text = Regex.Replace(text, @"\[(.+?)\]\(mailto:(.+?)\)", "<a href='mailto:$2'>$1</a>");

        // 8. URL: http://example.com or https://example.com
        text = Regex.Replace(text, @"\[(.+?)\]\((https?:\/\/[^\s]+)\)", "<a href='$2'>$1</a>");

        return text;
    }


    private class Dialog
    {
        public string MessageText { get; set; }
        public bool IsPrompt { get; set; } = true;
    }

  
}
